*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: royalblue;
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}

body{
    background-color: #e6ebe7;
}

.picborderradius{
   border-radius: 200px; 
}

.piclocation{
    margin-top: 8%;
    margin-left: 20%;
}

.maintextloc{
    margin-left: 35.3%;
    margin-top: -19%;    
}

.titleloc{
    margin-left:35%;
    margin-top: 1%;
    font-size: 55px;    
}

.summary{
    margin-left:35.4%;
    margin-top: 1.2%;
    font-size: 20px;    
}

.blue{
    color: royalblue;    
    font-weight: bold;
}

@media screen and (max-width: 1024px)  {
    .piclocation{
        margin-top: 8%;
        margin-left: 6%;
    }
    
    .maintextloc{
        margin-left: 35%;
        margin-top: 3%;    
    }
    
    .titleloc{
        margin-left:20%;
        margin-top: 1%;
        font-size: 55px;    
    }
    
    .summary{
        margin-left:30.4%;
        margin-top: 1.2%;
        font-size: 20px;    
    }
    
    .blue{
        color: royalblue;    
        font-weight: bold;
    }
}







@media screen and (max-width: 390px)  {
    .picsize{
        width: 95%;
    }
    
    .piclocation{
        margin-top: %;
        margin-left: %;
    }
    
    .maintextloc{
        margin-left: 28%;
        margin-top: 7%;    
    }
    
    .titleloc{
        margin-left:20%;
        margin-top: 1%;
        font-size: 55px;    
    }
    
    .summary{
        margin-left:20.4%;
        margin-top: 1.2%;
        font-size: 20px;    
    }
    
    .blue{
        color: royalblue;    
        font-weight: bold;
    }
}


